// About the Band Section
.section-about {
  background-color: $color-primary;
  padding: 25rem 0;
  margin-top: -20vh;

  @include respond(tablet-portrait) {
    padding: 20rem 0;
    margin-top: -10vh;
  }
}

.section-stories {
  position: relative; // Sets Video as Background
  padding: 15rem 0;
  @include respond(tablet-portrait) {
    padding: 10rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  // Background Image with overlay
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url('/img/band_truck.jpg');
  background-size: cover;
  transform: skewY(-3deg);
  margin-top: -5rem;

  //   Selects All the Direct childs of Class .section-features
  //   Which is the div with Class = grid-4
  & > * {
    transform: skewY(3deg);
  }
  @include respond(tablet-portrait) {
    padding: 15rem 0;
  }
}

.section-music {
  background-color: $color-primary;
  padding: 25rem 10rem 15rem 10rem;
  margin-top: -20vh;

  @include respond(tablet-portrait) {
    padding: 20rem 5rem 10rem 5rem;
  }
}