$color-primary: rgb(140, 140, 140);
$color-primary-light: rgb(191, 191, 191);
$color-primary-dark: rgb(64, 64, 64);

$color-secondary: rgb(230, 18, 11);
$color-secondary-light: rgb(242, 34, 72);
$color-secondary-dark: rgb(153, 29, 5);

$color-tertiary: rgb(242, 75, 106);
$color-tertiary-light: rgb(242, 34, 72);
$color-tertiary-dark: rgb(166, 51, 72);

$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

// Font
$default-font-size: 1.6rem;
